@use "../variables";

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--white);
	position: relative;
	z-index: 1;

	&__logo a {
		text-decoration: none;
		color: var(--white);
		font-size: 1.5em;
		font-weight: bold;
		display: flex;
		align-items: center;
		gap: 5px;

		&:hover {
			text-decoration: underline;
		}
	}
}

.skip-link {
	position: absolute;
	top: -40px;
	left: 0;
	overflow: hidden;
	width: auto;
	height: auto;
	background: var(--second-bg);
	color: var(--white);
	padding: 10px;

	&:focus {
		top: 4px;
		left: 4px;
		z-index: 1000;
	}
}

.header-menu {
	&__toggle {
		background: none;
		border: none;
		color: var(--white);
		cursor: pointer;
		display: block;
	}

	&__list {
		display: none;
		flex-direction: column;
		background: var(--second-bg);
		position: absolute;
		top: 100%;
		right: 0;
		width: 100%;
		list-style: none;
		margin: 15px 0 0;
		padding: 10px;
	}

	&__link {
		color: var(--white);
		text-decoration: none;
		padding: 10px;
		display: block;

		&--active {
			color: oklch(92.76% 0 0deg);
		}

		&:hover {
			background: var(--black);
			text-decoration: underline;
		}
	}

	&__list--open {
		display: flex;
	}

	@media (min-width: variables.$screen-sm) {
		&__toggle {
			display: none;
		}

		&__list {
			display: flex;
			flex-direction: row;
			position: static;
			background: transparent;
			margin: 0;
			padding: 0;
		}

		&__link {
			color: var(--white);
			text-decoration: none;
			padding: 10px;
			display: block;

			&--active {
				color: oklch(92.76% 0 0deg);
			}

			&:hover {
				background: transparent;
			}
		}
	}
}
